.colorGrey {
  background-color: #F4ECF7;
} 

.columna1 {
  background-color: violet;
  color: white;
}

.columna2{
background-color: yellowgreen;
  color: white;
}

.columna3{ 
background-color: cornflowerblue;
color: white;
}